<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99707618895-760v77gibn2a556d8esa21iqt0kfv7ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99707618895-760v77gibn2a556d8esa21iqt0kfv7ac</string>
	<key>API_KEY</key>
	<string>AIzaSyBk8mfgkMW3gQzXKqF1dRHz7qssQ499LkE</string>
	<key>GCM_SENDER_ID</key>
	<string>99707618895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-application-6c32e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-application-6c32e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99707618895:ios:daa64f88e5efd5a6a60c3a</string>
</dict>
</plist>